 .link_type a{
      text-decoration: none;
      color: #ffffff;
   }

   @media only screen and (max-width: 500px) 
   {
      .back_img img{
         height: 10rem;
      }
     .back_img::before{
         position: absolute;
         content: "";
         height: 18.7%;
         width: 100%;
         top: 9%;
         left: 0;
         background: #000;
         opacity: 0.6;
     }
   .back_img h4{
      position: absolute;
      top: 15%;
      left: 30%;
      font-size: 2rem;
      font-weight: 700;
      color: #ffffff;
   }
   .back_img .link_type{
      position: absolute;
      top: 19%;
      left: 33%;
      font-size: 1.2rem;
      color: #ffffff;
   }
   .video_width{
      width:100%;
   }
   }
   @media only screen and (min-width: 500px) 
   {
      .back_img img{
         height: 10rem;
      }
     .back_img::before{
         position: absolute;
         content: "";
         height: 19%;
         width: 100%;
         top: 9%;
         left: 0;
         background: #000;
         opacity: 0.6;
     }
   .back_img h4{
      position: absolute;
      top: 17%;
      left: 45%;
      font-size: 2rem;
      font-weight: 700;
      color: #ffffff;
   }
   .back_img .link_type{
      position: absolute;
      top: 21%;
      left: 46%;
      font-size: 1.2rem;
      color: #ffffff;
   }
   .video_width{
      width:60%;
   }
   }
   @media only screen and (min-width: 900px) 
   {
      .back_img img{
         height: 20rem;
      }
     .back_img::before{
         position: absolute;
         content: "";
         height: 46.5%;
         width: 100%;
         top: 12%;
         left: 0;
         background: #000;
         opacity: 0.6;
     }
   .back_img h4{
      position: absolute;
      top: 28%;
      left: 45%;
      font-size: 2rem;
      font-weight: 700;
      color: #ffffff;
   }
   .back_img .link_type{
      position: absolute;
      top: 33%;
      left: 46%;
      font-size: 1.2rem;
      color: #ffffff;
   }
   .text_color h2::before{
          position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid #e84444;
    top: 75%;
    left: 51%;
   }
   .text_color h2::after{
             position: absolute;
    content: "";
    height: 2px;
    width: 50px;
    
    background: #e84444;
    top: 75.5%;
    left: 52%;
   }
   .video_width{
      width:50%;
   }
   }
   .text_color p{
      color: #666666;
   }
   
   .border_s{
          height: 2px;
    margin: 20px auto 20px;
    position: relative;
    width: 80px;
    background: #28ABE3;
   }