.rate
{
	padding: 1%;
	background-color:#5BA829;
	border-radius: 3px;
}
 .c h5
{
font-family: proxima-nova, sans-serif;
}



.navbar-font{
	font-family:  Montserrat,  Arial, sans-serif;
	color:#000000;
    color:rgba(0, 0, 0, 0.6);

}
.nav-margin{
	margin-left: 37%;
	
}
.nav-icon{
	float: right;
}


.nav select {
  display: none;
}

@media (max-width: 960px) {
  .nav ul     { 
  	display: none; }
  .nav select {
   display: inline-block;
    width: 98%;
    padding-bottom: 3%;
    padding-top: 3%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-top: 3%;
    margin-left: 1%;
    color: white;
    background-color: black;
    }

   
}

.nav2 select {
  display: none;
}

@media (min-width: 800px)
{
 

.app p{
  font-size: 1.4vw;
  font-weight: 600;
}
.social_icon i{
  border-radius: 50%;
  background-color: #580631;
  padding: 15px 15px;
  color: #ffffff;
}
.social_icon .f{

  padding: 15px 17px;
}
.footer_list a{
  font-size: 1vw;
  font-weight:600;
  color: #212529;
  text-decoration: none;
} 
}




@media (max-width: 770px)
{
 


.social_icon i{
  border-radius: 50%;
  background-color: #580631;
  padding: 15px 15px;
  color: #ffffff;
}
.social_icon .f{

  padding: 15px 17px;
}

.footer_list a{
  display: flex;
  font-size: 3vw;
  font-weight:600;
  color: #212529;
  text-decoration: none;
}
.footer_list i{
  border-radius: 50%;
  background-color: #30E3CA;
  padding: 10px 10px;
  color: #ffffff;
  margin-right: 2%;
  margin-top: 15;
} 
}




@media (max-width: 500px)
{
  .footer_intro {
  font-family: Helvetica,Lato, sans-serif;;
  
}
.footer_intro h5{
  font-size: 5vw;
  font-family: Helvetica,Lato, sans-serif;;
  font-weight: 700;
  
}
.footer_intro h5 span{
  color: #30E3CA;
}
.footer_intro p{
  font-size: 4vw;
}
.social_icon i{
  border-radius: 50%;
  background-color: #580631;
  padding: 15px 15px;
  color: #ffffff;
}
.social_icon .f{

  padding: 15px 17px;
}
.footer_list a{
  font-size: 4vw;
  font-weight:600;
  color: #212529;
  text-decoration: none;
}
.footer_list i{
  border-radius: 50%;
  background-color: #30E3CA;
  padding: 10px 10px;
  color: #ffffff;
  margin-right: 2%;
  margin-top: 15;
}
}




