* {
    box-sizing: border-box;
}

.wrapper {
    min-height: 100vh;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
   width: 90%;
    justify-content: center;
    background-color: aliceblue;
    margin: 0;
}

.block__pic {
    width: 90%;
}

